<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<!--<add key="logpath" value="C:\财务单据\Log\"/>-->
		<!--云星空配置-->
		<add key="url" value="http://10.14.1.212/K3Cloud/" />
		<add key="db" value="6619ff90ef3176" />
		<add key="uid" value="张智斌" />
		<add key="pwd" value="zzb@123.." />
		<!--日志输出-->
		<add key="logpath" value="D:\Log\" />
		<add key="con" value="server=10.14.1.211;uid=sa;pwd=Maiwei.123;database=AIS20190906160151" />
		<!--<add key="con" value="server=.;pwd=svse;uid=sa;database=test"/>-->
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
</configuration>